/* imports de fonts */
@font-face {
    font-family: inter;
    src: url(../assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}


/* reset css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-layout{
    width: 90%;
    margin: 0 auto;
    height: 100%;
}
.alinhamento-between-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{

    color: white;
}

/* mobile first */


header{
    height: 60px;
    background-color: #1B1426;
}
header .header-top{
    display: none;
}


header .header-bottom{
    height: 60px;
}


header .logo{
    width: 86px;
}


header .icones-header-bottom{
    display: none;
}


header .header-bottom nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    position: fixed;
    top: 60px;
    left: 0;
    width: 80vw;
    height: calc(100vh - 60px
    );
    background-image: linear-gradient(to right bottom, rgba(27, 20, 38, 0.7), rgba(27, 20, 38, 0.4));
    backdrop-filter: blur(45px);
}

header .header-bottom nav > a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 30px 0;
    color: white;
    text-decoration: none;
    font-family: inter;
    font-size: 15px;
    border-bottom: 1px solid #F9AA01;
}

header .header-bottom nav a:last-of-type{
    border-bottom: none;
}
header .midias-digitais{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 65px;
    margin-bottom: 42px;
}





