@font-face {
    font-family: "Fernando Quatrochi";
    src: url(../assets_/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: aqua;
}
header{
    height: 60px;
    background-color:#F9003D;
}
.grid-layout{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    height: 100%;
}
.header-flex{
    justify-content: flex-end;
    display: flex;
    align-items: center; 
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 600px;
}
header nav a{
    color: white;
    font-family: "Fernando Quatrochi";
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 5px;
    border: 1px solid white;
    letter-spacing: 2px;
}
header nav a:hover {
    background-color: white;
    color: #F9003D;
}

/* Main */
main .banner{
    width: 100%;
    height: 740px;
    color: white;

    background-image: url(../assets_/imagens/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
main .banner-flex{
    display: flex;
    align-items: center;
}
main #banner-info{
    width: 550px;
}
main h1{
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-family: "Fernando Quatrochi";
    font-size: 96px;
    border-bottom: 2px solid #FFAF00;
}
main article p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    color: #F9003D;
}




